<p>
<%= render @post.categories%>
</p>
<%= render 'shared/content_title', title: @post.title %>
<hr/>
<p><%= @post.description%></p>
<hr/>
<%= render "shared/created_by_at", username: @post.user.username, created_at: @post.created_at%>
<p>
  <small>
    <%= @post.comments.count %> Comments
  </small>
  <% @post.comments.each do |comment|%>
    <p><%= comment.body %></p>
  <% end %>
</p>
